.home_page_icon{
    width: 400px;
    height: 400px;
    position: relative;
    top:100px;
    margin: auto;
    left: 100px;
}

.home_page_title{
    position: relative;
    font-size: 52px;
    font: Alef;
    color:rgb(38, 0, 128);
    text-align:center;
}

.home_ball_icon{
    position: relative;
    width: 300px;
    height: 300px;
    top: -340px;
    left: 400px;
}
