.project-title{
    width: 100%;
    text-align:center;
}

.project-information{
    width: 50%;
    display:flex;
    
}

.project-details{
    display: flex;
    width: 100%;
    text-align: left;
}

.project-hook-size{
    display: flex;
    font: Alef;
    font-size: 36;
    text-align:left;
    margin: 20px;
}
.project-yarn-size{
    display: flex;
    font: Alef;
    font-size: 36;
    text-align:left;
    margin: 20px;
}

.project-difficulty-level{
    display: flex;
    font: Alef;
    font-size: 36;
    text-align:left;
    margin: 20px;
}

.left-side-show{
    width:50%;
    text-align:left;
    margin: 30px;
}

.right-side-show{
    width:50%;
    text-align:center;
}




.yarn-ball-icon{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    margin: auto;
}

.crochet-hook-icon{
    width: 60px;
    height: 60px;
    position: relative;
    margin: auto;
    top: 5px;
}

.meter-icon{
    width: 60px;
    height: 60px;
    position: relative;
    margin: auto;
    top: 5px;
}

.individual-comment{
    display: flex;
    margin: 20px;
    font-size: 15px;
    padding: 10px;

}

.like_button{
    opacity: 0%;
}

.heartunheart{
    align-self: center;
}
