<div class= "searchbar_and_button">
<%= form_tag(projects_path, method: :get, id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Projects", label: false, class: "form-control-lg" %>
  <%= submit_tag "Search", class: "btn xl btn-outline-light" %>
  <% end %>
  </div>