<h1>Projects#create</h1>
<p>Find me in app/views/projects/create.html.erb</p>
<p><%= link_to "Search Projects", projects_index_path %></p>
<p><%= link_to "Create Project", projects_create_path %></p>
<p> "Create Project" </p>

