// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sign_in_feature{
    text-align: center;
    font: Alef;
    font-size: 24px;
   
}

.submit_button{
    color: green;
}

  
.html, body{
    height: 100%;
    width: 100%;
}
  .container {
  position:absolute;
  top: 300px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%
  }

  